.header {
  width: 1600px;
  padding: 10px 50px;
  margin: 0 auto;
}

.input {
  width: 1000px;
}

.repoTextWrapper {
  margin: 8px 0;
}

.repoPath {
  font-size: 18px;
  font-weight: 500;
  color: #0000ff;
  margin-right: 30px;
}
.repoPath:hover {
  text-decoration: underline;
}

.starsCountText {
  font-size: 18px;
  font-weight: 700;
}

.svg {
  font-size: 20px;
  color: #ffa500;
  margin-right: 5px;
}
