.header{
    width: 1600px;
    padding: 10px 50px;
    margin: 0 auto;
}

.input{
    width: 1000px;
    margin-bottom: 10px;
}

.repoPath{
    font-size: 18px;
    color: blue;
    margin-right: 30px;
}
.repoPath:hover{
   text-decoration: underline;
}

.starsCountText{
    font-size: 18px;
    font-weight: 700;
}

.svg{
    font-size: 20px;
    color: orange;
    margin-right: 5px;
  }