.container{
    width: 1600px;
    padding: 0 50px;
    flex-grow: 1;
    margin: 0 auto;
    display: flex;
    overflow-x: auto;
   overflow-y:unset;
}

.boardList {
    display: flex;
    position: relative;
    z-index: 100;
    gap: 20px;
    align-items: flex-start;
}

.boardItem{
    display: flex;
    flex-grow: 1;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}