.cardWrapper {
  transition-property: padding;
  transition-duration: 500ms;
}

.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid white;
  opacity: 1;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.11);
}
.cardIsDragging {
  border: 5px solid red;
  opacity: 0.3;
}

.cardIsOver {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.5);
}

.avatar {
  margin-left: 10;
}

.commentsWrapper {
  display: 'flex';
  justify-content: 'flex-start';
}

.descriptionWrapper {
  display: 'flex';
  justify-content: 'flex-start';
  margin-bottom: 10;
}

.comments::before {
  content: '|';
  margin-right: 10px;
  width: 10px;
  height: 1px;
}

.text {
  margin-right: 10;
}
